{{ file_managed_by_ansible }}

# Run AIDE integrity check
# CIS 1.3.2

{{ bozkarcis_aide_cron_minute }} {{ bozkarcis_aide_cron_hour }} {{ bozkarcis_aide_cron_month }} {{ bozkarcis_aide_cron_weekday }} {{ bozkarcis_aide_cron_job }}
