{{ file_managed_by_ansible }}

# CIS rule 6_2_1_3
[Journal]
SystemMaxUse={{ bozkarcis_journald_systemmaxuse }}
SystemKeepFree={{ bozkarcis_journald_systemkeepfree }}
RuntimeMaxUse={{ bozkarcis_journald_runtimemaxuse }}
RuntimeKeepFree={{ bozkarcis_journald_runtimekeepfree }}
MaxFileSec={{ bozkarcis_journald_maxfilesec }}
