{{ file_managed_by_ansible }}

# 5.3.3.2.3 Ensure password complexity is configured
{% if bozkarcis_passwd_complex_option == 'minclass' %}  # pragma: allowlist secret
minclass = {{ bozkarcis_passwd_minclass }}
{% endif %}
{% if bozkarcis_passwd_complex_option == 'credits' %}  # pragma: allowlist secret
dcredit = {{bozkarcis_passwd_dcredit }}
ucredit = {{ bozkarcis_passwd_ucredit }}
ocredit = {{ bozkarcis_passwd_ocredit }}
lcredit = {{ bozkarcis_passwd_lcredit }}
{% endif %}
