---

# Enable log running potential resource intensive tests
run_heavy_tests: {{ audit_run_heavy_tests }}

# Extend default command timeout for longer running tests
timeout_ms: {{ audit_cmd_timeout }}

## Switching on/off specific baseline sections
# These variables govern whether the tasks of a particular section are to be executed when running the role.
# E.g: If you want to execute the tasks of Section 1 you should set the "_section1" variable to true.
# If you do not want the tasks from that section to get executed you simply set the variable to "false".
bozkarcis_section1: {{ bozkarcis_section1 }}
bozkarcis_section2: {{ bozkarcis_section2 }}
bozkarcis_section3: {{ bozkarcis_section3 }}
bozkarcis_section4: {{ bozkarcis_section4 }}
bozkarcis_section5: {{ bozkarcis_section5 }}
bozkarcis_section6: {{ bozkarcis_section6 }}
bozkarcis_section7: {{ bozkarcis_section7 }}

# This is used for audit purposes to run only specific level use the tags
# e.g.
# - level1-server
# - level2-workstation
bozkarcis_level_1: {{ bozkarcis_level_1 }}
bozkarcis_level_2: {{ bozkarcis_level_2 }}

## Section 1.6 - Mandatory Access Control
# This variable governs whether SELinux is disabled or not. If SELinux is NOT DISABLED by setting
# 'bozkarcis_selinux_disable' to 'true', the 1.6 subsection will be executed.
bozkarcis_selinux_disable: {{ bozkarcis_selinux_disable }}
# This variable is used in a preliminary task, handling grub2 paths either in case of
# UEFI boot('/etc/grub2-efi.cfg') or in case of BIOS legacy-boot('/etc/grub2.cfg').
bozkarcis_legacy_boot: {{ bozkarcis_legacy_boot }}

## Benchmark name used by auditing control role
# The audit variable found at the base
## metadata for Audit benchmark
benchmark_version: {{ benchmark_version }}

benchmark: BOZKARCIS

# These variables correspond with the CIS rule IDs or paragraph numbers defined in
# the CIS benchmark documents.
# PLEASE NOTE: These work in coordination with the section # group variables and tags.
# You must enable an entire section in order for the variables below to take effect.

# Section 1 is Initial setup (FileSystem Configuration, Configure Software Updates, Filesystem Integrity Checking, Secure Boot Settings,
# Additional Process Hardening, Mandatory Access Control, Command Line Warning Banners, and GNOME Display Manager)
# Filesystem kernel modules
bozkarcis_rule_1_1_1_1: {{ bozkarcis_rule_1_1_1_1 }}
bozkarcis_rule_1_1_1_2: {{ bozkarcis_rule_1_1_1_2 }}
bozkarcis_rule_1_1_1_3: {{ bozkarcis_rule_1_1_1_3 }}
bozkarcis_rule_1_1_1_4: {{ bozkarcis_rule_1_1_1_4 }}
bozkarcis_rule_1_1_1_5: {{ bozkarcis_rule_1_1_1_5 }}
bozkarcis_rule_1_1_1_6: {{ bozkarcis_rule_1_1_1_6 }}
bozkarcis_rule_1_1_1_7: {{ bozkarcis_rule_1_1_1_7 }}
bozkarcis_rule_1_1_1_8: {{ bozkarcis_rule_1_1_1_8 }}
bozkarcis_rule_1_1_1_9: {{ bozkarcis_rule_1_1_1_9 }}
bozkarcis_rule_1_1_1_10: {{ bozkarcis_rule_1_1_1_10 }} ## New
bozkarcis_rule_1_1_1_11: {{ bozkarcis_rule_1_1_1_11 }} ## New
# Filesystems
# /tmp
bozkarcis_rule_1_1_2_1_1: {{ bozkarcis_rule_1_1_2_1_1 }}
bozkarcis_rule_1_1_2_1_2: {{ bozkarcis_rule_1_1_2_1_2 }}
bozkarcis_rule_1_1_2_1_3: {{ bozkarcis_rule_1_1_2_1_3 }}
bozkarcis_rule_1_1_2_1_4: {{ bozkarcis_rule_1_1_2_1_4 }}
# /dev/shm
bozkarcis_rule_1_1_2_2_1: {{ bozkarcis_rule_1_1_2_2_1 }}
bozkarcis_rule_1_1_2_2_2: {{ bozkarcis_rule_1_1_2_2_2 }}
bozkarcis_rule_1_1_2_2_3: {{ bozkarcis_rule_1_1_2_2_3 }}
bozkarcis_rule_1_1_2_2_4: {{ bozkarcis_rule_1_1_2_2_4 }}
# /home
bozkarcis_rule_1_1_2_3_1: {{ bozkarcis_rule_1_1_2_3_1 }}
bozkarcis_rule_1_1_2_3_2: {{ bozkarcis_rule_1_1_2_3_2 }}
bozkarcis_rule_1_1_2_3_3: {{ bozkarcis_rule_1_1_2_3_3 }}
# /var
bozkarcis_rule_1_1_2_4_1: {{ bozkarcis_rule_1_1_2_4_1 }}
bozkarcis_rule_1_1_2_4_2: {{ bozkarcis_rule_1_1_2_4_2 }}
bozkarcis_rule_1_1_2_4_3: {{ bozkarcis_rule_1_1_2_4_3 }}
# /var/tmp
bozkarcis_rule_1_1_2_5_1: {{ bozkarcis_rule_1_1_2_5_1 }}
bozkarcis_rule_1_1_2_5_2: {{ bozkarcis_rule_1_1_2_5_2 }}
bozkarcis_rule_1_1_2_5_3: {{ bozkarcis_rule_1_1_2_5_3 }}
bozkarcis_rule_1_1_2_5_4: {{ bozkarcis_rule_1_1_2_5_4 }}
# /var/log
bozkarcis_rule_1_1_2_6_1: {{ bozkarcis_rule_1_1_2_6_1 }}
bozkarcis_rule_1_1_2_6_2: {{ bozkarcis_rule_1_1_2_6_2 }}
bozkarcis_rule_1_1_2_6_3: {{ bozkarcis_rule_1_1_2_6_3 }}
bozkarcis_rule_1_1_2_6_4: {{ bozkarcis_rule_1_1_2_6_4 }}
# /var/log/audit
bozkarcis_rule_1_1_2_7_1: {{ bozkarcis_rule_1_1_2_7_1 }}
bozkarcis_rule_1_1_2_7_2: {{ bozkarcis_rule_1_1_2_7_2 }}
bozkarcis_rule_1_1_2_7_3: {{ bozkarcis_rule_1_1_2_7_3 }}
bozkarcis_rule_1_1_2_7_4: {{ bozkarcis_rule_1_1_2_7_4 }}

# Package Mgmt
# Config Pkg Repos
bozkarcis_rule_1_2_1_1: {{ bozkarcis_rule_1_2_1_1 }}
bozkarcis_rule_1_2_1_2: {{ bozkarcis_rule_1_2_1_2 }}
bozkarcis_rule_1_2_1_3: {{ bozkarcis_rule_1_2_1_3 }}
bozkarcis_rule_1_2_1_4: {{ bozkarcis_rule_1_2_1_4 }}
bozkarcis_rule_1_2_1_5: {{ bozkarcis_rule_1_2_1_5 }} # New
# Package updates
bozkarcis_rule_1_2_2_1: {{ bozkarcis_rule_1_2_2_1 }}

# Selinux
bozkarcis_rule_1_3_1_1: {{ bozkarcis_rule_1_3_1_1 }}
bozkarcis_rule_1_3_1_2: {{ bozkarcis_rule_1_3_1_2 }}
bozkarcis_rule_1_3_1_3: {{ bozkarcis_rule_1_3_1_3 }}
bozkarcis_rule_1_3_1_4: {{ bozkarcis_rule_1_3_1_4 }}
bozkarcis_rule_1_3_1_5: {{ bozkarcis_rule_1_3_1_5 }}
bozkarcis_rule_1_3_1_6: {{ bozkarcis_rule_1_3_1_6 }}
bozkarcis_rule_1_3_1_7: {{ bozkarcis_rule_1_3_1_7 }}
bozkarcis_rule_1_3_1_8: {{ bozkarcis_rule_1_3_1_8 }}

# Bootloader
bozkarcis_rule_1_4_1: {{ bozkarcis_rule_1_4_1 }}
bozkarcis_rule_1_4_2: {{ bozkarcis_rule_1_4_2 }}

# Additional Process Hardening
bozkarcis_rule_1_5_1: {{ bozkarcis_rule_1_5_1 }}
bozkarcis_rule_1_5_2: {{ bozkarcis_rule_1_5_2 }}
bozkarcis_rule_1_5_3: {{ bozkarcis_rule_1_5_3 }}
bozkarcis_rule_1_5_4: {{ bozkarcis_rule_1_5_4 }}
bozkarcis_rule_1_5_5: {{ bozkarcis_rule_1_5_5 }}
bozkarcis_rule_1_5_6: {{ bozkarcis_rule_1_5_6 }}
bozkarcis_rule_1_5_7: {{ bozkarcis_rule_1_5_7 }}
bozkarcis_rule_1_5_8: {{ bozkarcis_rule_1_5_8 }}
bozkarcis_rule_1_5_9: {{ bozkarcis_rule_1_5_9 }}
bozkarcis_rule_1_5_10: {{ bozkarcis_rule_1_5_10 }}

# Config system wide Crypto
bozkarcis_rule_1_6_1: {{ bozkarcis_rule_1_6_1 }}
bozkarcis_rule_1_6_2: {{ bozkarcis_rule_1_6_2 }}
bozkarcis_rule_1_6_3: {{ bozkarcis_rule_1_6_3 }}
bozkarcis_rule_1_6_4: {{ bozkarcis_rule_1_6_4 }}

# Command line warning banners
bozkarcis_rule_1_7_1: {{ bozkarcis_rule_1_7_1 }}
bozkarcis_rule_1_7_2: {{ bozkarcis_rule_1_7_2 }}
bozkarcis_rule_1_7_3: {{ bozkarcis_rule_1_7_3 }}
bozkarcis_rule_1_7_4: {{ bozkarcis_rule_1_7_4 }}
bozkarcis_rule_1_7_5: {{ bozkarcis_rule_1_7_5 }}
bozkarcis_rule_1_7_6: {{ bozkarcis_rule_1_7_6 }}

# Gnome Display Manager
bozkarcis_rule_1_8_1: {{ bozkarcis_rule_1_8_1 }}
bozkarcis_rule_1_8_2: {{ bozkarcis_rule_1_8_2 }}
bozkarcis_rule_1_8_3: {{ bozkarcis_rule_1_8_3 }}
bozkarcis_rule_1_8_4: {{ bozkarcis_rule_1_8_4 }}
bozkarcis_rule_1_8_5: {{ bozkarcis_rule_1_8_5 }}
bozkarcis_rule_1_8_6: {{ bozkarcis_rule_1_8_6 }}

# Section 2 rules are controlling Services (Special Purpose Services, and service clients)
## Configure Server Services
bozkarcis_rule_2_1_1: {{ bozkarcis_rule_2_1_1 }}
bozkarcis_rule_2_1_2: {{ bozkarcis_rule_2_1_2 }}
bozkarcis_rule_2_1_3: {{ bozkarcis_rule_2_1_3 }}
bozkarcis_rule_2_1_4: {{ bozkarcis_rule_2_1_4 }}
bozkarcis_rule_2_1_5: {{ bozkarcis_rule_2_1_5 }}
bozkarcis_rule_2_1_6: {{ bozkarcis_rule_2_1_6 }}
bozkarcis_rule_2_1_7: {{ bozkarcis_rule_2_1_7 }}
bozkarcis_rule_2_1_8: {{ bozkarcis_rule_2_1_8 }}
bozkarcis_rule_2_1_9: {{ bozkarcis_rule_2_1_9 }}
bozkarcis_rule_2_1_10: {{ bozkarcis_rule_2_1_10 }}
bozkarcis_rule_2_1_11: {{ bozkarcis_rule_2_1_11 }}
bozkarcis_rule_2_1_12: {{ bozkarcis_rule_2_1_12 }}
bozkarcis_rule_2_1_13: {{ bozkarcis_rule_2_1_13 }}
bozkarcis_rule_2_1_14: {{ bozkarcis_rule_2_1_14 }}
bozkarcis_rule_2_1_15: {{ bozkarcis_rule_2_1_15 }}
bozkarcis_rule_2_1_16: {{ bozkarcis_rule_2_1_16 }}
bozkarcis_rule_2_1_17: {{ bozkarcis_rule_2_1_17 }}
bozkarcis_rule_2_1_18: {{ bozkarcis_rule_2_1_18 }}
bozkarcis_rule_2_1_19: {{ bozkarcis_rule_2_1_19 }}
bozkarcis_rule_2_1_20: {{ bozkarcis_rule_2_1_20 }}
bozkarcis_rule_2_1_21: {{ bozkarcis_rule_2_1_21 }}
bozkarcis_rule_2_1_22: {{ bozkarcis_rule_2_1_22 }}

## Configure Client Services
bozkarcis_rule_2_2_1: {{ bozkarcis_rule_2_2_1 }}
bozkarcis_rule_2_2_2: {{ bozkarcis_rule_2_2_2 }}
bozkarcis_rule_2_2_3: {{ bozkarcis_rule_2_2_3 }}
bozkarcis_rule_2_2_4: {{ bozkarcis_rule_2_2_4 }}

## Configure Time Synchronization
bozkarcis_rule_2_3_1: {{ bozkarcis_rule_2_3_1 }}
bozkarcis_rule_2_3_2: {{ bozkarcis_rule_2_3_2 }}
bozkarcis_rule_2_3_3: {{ bozkarcis_rule_2_3_3 }}

## Job Schedulers
### cron
bozkarcis_rule_2_4_1_1: {{ bozkarcis_rule_2_4_1_1 }}
bozkarcis_rule_2_4_1_2: {{ bozkarcis_rule_2_4_1_2 }}
bozkarcis_rule_2_4_1_3: {{ bozkarcis_rule_2_4_1_3 }}
bozkarcis_rule_2_4_1_4: {{ bozkarcis_rule_2_4_1_4 }}
bozkarcis_rule_2_4_1_5: {{ bozkarcis_rule_2_4_1_5 }}
bozkarcis_rule_2_4_1_6: {{ bozkarcis_rule_2_4_1_6 }}
bozkarcis_rule_2_4_1_7: {{ bozkarcis_rule_2_4_1_7 }}
bozkarcis_rule_2_4_1_8: {{ bozkarcis_rule_2_4_1_8 }}
bozkarcis_rule_2_4_1_9: {{ bozkarcis_rule_2_4_1_9 }}
### at
bozkarcis_rule_2_4_2_1: {{ bozkarcis_rule_2_4_2_1 }}

# Section 3 Network
## Network Devices
bozkarcis_rule_3_1_1: {{ bozkarcis_rule_3_1_1 }}
bozkarcis_rule_3_1_2: {{ bozkarcis_rule_3_1_2 }}
bozkarcis_rule_3_1_3: {{ bozkarcis_rule_3_1_3 }}
bozkarcis_ipv6_disable_method: {{ bozkarcis_ipv6_disable_method }}

## Network Kernel Modules
bozkarcis_rule_3_2_1: {{ bozkarcis_rule_3_2_1 }}
bozkarcis_rule_3_2_2: {{ bozkarcis_rule_3_2_2 }}
bozkarcis_rule_3_2_3: {{ bozkarcis_rule_3_2_3 }}
bozkarcis_rule_3_2_4: {{ bozkarcis_rule_3_2_4 }}
bozkarcis_rule_3_2_5: {{ bozkarcis_rule_3_2_5 }}
bozkarcis_rule_3_2_6: {{ bozkarcis_rule_3_2_6 }}
# Configure IPv4 parameters
bozkarcis_rule_3_3_1_1: {{ bozkarcis_rule_3_3_1_1 }}
bozkarcis_rule_3_3_1_2: {{ bozkarcis_rule_3_3_1_2 }}
bozkarcis_rule_3_3_1_3: {{ bozkarcis_rule_3_3_1_3 }}
bozkarcis_rule_3_3_1_4: {{ bozkarcis_rule_3_3_1_4 }}
bozkarcis_rule_3_3_1_5: {{ bozkarcis_rule_3_3_1_5 }}
bozkarcis_rule_3_3_1_6: {{ bozkarcis_rule_3_3_1_6 }}
bozkarcis_rule_3_3_1_7: {{ bozkarcis_rule_3_3_1_7 }}
bozkarcis_rule_3_3_1_8: {{ bozkarcis_rule_3_3_1_8 }}
bozkarcis_rule_3_3_1_9: {{ bozkarcis_rule_3_3_1_9 }}
bozkarcis_rule_3_3_1_10: {{ bozkarcis_rule_3_3_1_10 }}
bozkarcis_rule_3_3_1_11: {{ bozkarcis_rule_3_3_1_11 }}
bozkarcis_rule_3_3_1_12: {{ bozkarcis_rule_3_3_1_12 }}
bozkarcis_rule_3_3_1_13: {{ bozkarcis_rule_3_3_1_13 }}
bozkarcis_rule_3_3_1_14: {{ bozkarcis_rule_3_3_1_14 }}
bozkarcis_rule_3_3_1_15: {{ bozkarcis_rule_3_3_1_15 }}
bozkarcis_rule_3_3_1_16: {{ bozkarcis_rule_3_3_1_16 }}
bozkarcis_rule_3_3_1_17: {{ bozkarcis_rule_3_3_1_17 }}
bozkarcis_rule_3_3_1_18: {{ bozkarcis_rule_3_3_1_18 }}
# Configure IPv6 parameters
bozkarcis_rule_3_3_2_1: {{ bozkarcis_rule_3_3_2_1 }}
bozkarcis_rule_3_3_2_2: {{ bozkarcis_rule_3_3_2_2 }}
bozkarcis_rule_3_3_2_3: {{ bozkarcis_rule_3_3_2_3 }}
bozkarcis_rule_3_3_2_4: {{ bozkarcis_rule_3_3_2_4 }}
bozkarcis_rule_3_3_2_5: {{ bozkarcis_rule_3_3_2_5 }}
bozkarcis_rule_3_3_2_6: {{ bozkarcis_rule_3_3_2_6 }}
bozkarcis_rule_3_3_2_7: {{ bozkarcis_rule_3_3_2_7 }}
bozkarcis_rule_3_3_2_8: {{ bozkarcis_rule_3_3_2_8 }}

# Section 4 Firewalls
## Firewall utility
bozkarcis_rule_4_1_1: {{ bozkarcis_rule_4_1_1 }}
bozkarcis_rule_4_1_2: {{ bozkarcis_rule_4_1_2 }}
bozkarcis_rule_4_1_3: {{ bozkarcis_rule_4_1_3 }}
bozkarcis_rule_4_1_4: {{ bozkarcis_rule_4_1_4 }}
bozkarcis_rule_4_1_5: {{ bozkarcis_rule_4_1_5 }}
bozkarcis_rule_4_1_6: {{ bozkarcis_rule_4_1_6 }}
bozkarcis_rule_4_1_7: {{ bozkarcis_rule_4_1_7 }}

## Section 5
## 5.1. Configure SSH Server
bozkarcis_rule_5_1_1: {{ bozkarcis_rule_5_1_1 }}
bozkarcis_rule_5_1_2: {{ bozkarcis_rule_5_1_2 }}
bozkarcis_rule_5_1_3: {{ bozkarcis_rule_5_1_3 }}
bozkarcis_rule_5_1_4: {{ bozkarcis_rule_5_1_4 }}
bozkarcis_rule_5_1_5: {{ bozkarcis_rule_5_1_5 }}
bozkarcis_rule_5_1_6: {{ bozkarcis_rule_5_1_6 }}
bozkarcis_rule_5_1_7: {{ bozkarcis_rule_5_1_7 }}
bozkarcis_rule_5_1_8: {{ bozkarcis_rule_5_1_8 }}
bozkarcis_rule_5_1_9: {{ bozkarcis_rule_5_1_9 }}
bozkarcis_rule_5_1_10: {{ bozkarcis_rule_5_1_10 }}
bozkarcis_rule_5_1_11: {{ bozkarcis_rule_5_1_11 }}
bozkarcis_rule_5_1_12: {{ bozkarcis_rule_5_1_12 }}
bozkarcis_rule_5_1_13: {{ bozkarcis_rule_5_1_13 }}
bozkarcis_rule_5_1_14: {{ bozkarcis_rule_5_1_14 }}
bozkarcis_rule_5_1_15: {{ bozkarcis_rule_5_1_15 }}
bozkarcis_rule_5_1_16: {{ bozkarcis_rule_5_1_16 }}
bozkarcis_rule_5_1_17: {{ bozkarcis_rule_5_1_17 }}
bozkarcis_rule_5_1_18: {{ bozkarcis_rule_5_1_18 }}
bozkarcis_rule_5_1_19: {{ bozkarcis_rule_5_1_19 }}
bozkarcis_rule_5_1_20: {{ bozkarcis_rule_5_1_20 }}
bozkarcis_rule_5_1_21: {{ bozkarcis_rule_5_1_21 }}
bozkarcis_rule_5_1_22: {{ bozkarcis_rule_5_1_22 }}
## 5.2 Configure Privilege Escalation
bozkarcis_rule_5_2_1: {{ bozkarcis_rule_5_2_1 }}
bozkarcis_rule_5_2_2: {{ bozkarcis_rule_5_2_2 }}
bozkarcis_rule_5_2_3: {{ bozkarcis_rule_5_2_3 }}
bozkarcis_rule_5_2_4: {{ bozkarcis_rule_5_2_4 }}
bozkarcis_rule_5_2_5: {{ bozkarcis_rule_5_2_5 }}
bozkarcis_rule_5_2_6: {{ bozkarcis_rule_5_2_6 }}
bozkarcis_rule_5_2_7: {{ bozkarcis_rule_5_2_7 }}
# 5.3.1 Configure authselect
bozkarcis_rule_5_3_1_1: {{ bozkarcis_rule_5_3_1_1 }}
bozkarcis_rule_5_3_1_2: {{ bozkarcis_rule_5_3_1_2 }}
bozkarcis_rule_5_3_1_3: {{ bozkarcis_rule_5_3_1_3 }}
bozkarcis_rule_5_3_1_4: {{ bozkarcis_rule_5_3_1_4 }}
bozkarcis_rule_5_3_1_5: {{ bozkarcis_rule_5_3_1_5 }}
# 5.3.2.1 Configure pam_faillock module
bozkarcis_rule_5_3_2_1_1: {{ bozkarcis_rule_5_3_2_1_1 }}
bozkarcis_rule_5_3_2_1_2: {{ bozkarcis_rule_5_3_2_1_2 }}
bozkarcis_rule_5_3_2_1_3: {{ bozkarcis_rule_5_3_2_1_3 }}
# 5.3.2.2 Configure pam_pwquality module
bozkarcis_rule_5_3_2_2_1: {{ bozkarcis_rule_5_3_2_2_1 }}
bozkarcis_rule_5_3_2_2_2: {{ bozkarcis_rule_5_3_2_2_2 }}
bozkarcis_rule_5_3_2_2_3: {{ bozkarcis_rule_5_3_2_2_3 }}
bozkarcis_rule_5_3_2_2_4: {{ bozkarcis_rule_5_3_2_2_4 }}
bozkarcis_rule_5_3_2_2_5: {{ bozkarcis_rule_5_3_2_2_5 }}
bozkarcis_rule_5_3_2_2_6: {{ bozkarcis_rule_5_3_2_2_6 }}
bozkarcis_rule_5_3_2_2_7: {{ bozkarcis_rule_5_3_2_2_7 }}
# 5.3.2.3 Configure pam_pwhistory module
# This are added as part of 5.3.2.4 using jinja2 template
bozkarcis_rule_5_3_2_3_1: {{ bozkarcis_rule_5_3_2_3_1 }}
bozkarcis_rule_5_3_2_3_2: {{ bozkarcis_rule_5_3_2_3_2 }}
bozkarcis_rule_5_3_2_3_3: {{ bozkarcis_rule_5_3_2_3_3 }}
# 5.3.3.4 Configure pam_unix module
bozkarcis_rule_5_3_2_4_1: {{ bozkarcis_rule_5_3_2_4_1 }}
bozkarcis_rule_5_3_2_4_2: {{ bozkarcis_rule_5_3_2_4_2 }}
bozkarcis_rule_5_3_2_4_3: {{ bozkarcis_rule_5_3_2_4_3 }}
bozkarcis_rule_5_3_2_4_4: {{ bozkarcis_rule_5_3_2_4_4 }}
# 5.4 User Accounts and Environment
# 5.4.1 Configure shadow password suite parameters
bozkarcis_rule_5_4_1_1: {{ bozkarcis_rule_5_4_1_1 }}
bozkarcis_rule_5_4_1_2: {{ bozkarcis_rule_5_4_1_2 }}
bozkarcis_rule_5_4_1_3: {{ bozkarcis_rule_5_4_1_3 }}
bozkarcis_rule_5_4_1_4: {{ bozkarcis_rule_5_4_1_4 }}
bozkarcis_rule_5_4_1_5: {{ bozkarcis_rule_5_4_1_5 }}
bozkarcis_rule_5_4_1_6: {{ bozkarcis_rule_5_4_1_6 }}
# 5.4.2 Configure root and system accounts and environment
bozkarcis_rule_5_4_2_1: {{ bozkarcis_rule_5_4_2_1 }}
bozkarcis_rule_5_4_2_2: {{ bozkarcis_rule_5_4_2_2 }}
bozkarcis_rule_5_4_2_3: {{ bozkarcis_rule_5_4_2_3 }}
bozkarcis_rule_5_4_2_4: {{ bozkarcis_rule_5_4_2_4 }}
bozkarcis_rule_5_4_2_5: {{ bozkarcis_rule_5_4_2_5 }}
bozkarcis_rule_5_4_2_6: {{ bozkarcis_rule_5_4_2_6 }}
bozkarcis_rule_5_4_2_7: {{ bozkarcis_rule_5_4_2_7 }}
bozkarcis_rule_5_4_2_8: {{ bozkarcis_rule_5_4_2_8 }}
# 5.4.2 Configure user default environment
bozkarcis_rule_5_4_3_1: {{ bozkarcis_rule_5_4_3_1 }}
bozkarcis_rule_5_4_3_2: {{ bozkarcis_rule_5_4_3_2 }}
bozkarcis_rule_5_4_3_3: {{ bozkarcis_rule_5_4_3_3 }}

# Section 6 Logging and Auditing
## 6.1 Configure Integrity Checking
bozkarcis_rule_6_1_1: {{ bozkarcis_rule_6_1_1 }}
bozkarcis_rule_6_1_2: {{ bozkarcis_rule_6_1_2 }}
bozkarcis_rule_6_1_3: {{ bozkarcis_rule_6_1_3 }}
## 6.2.1 Configure systemd-journald service
bozkarcis_rule_6_2_1_1: {{ bozkarcis_rule_6_2_1_1 }}
bozkarcis_rule_6_2_1_2: {{ bozkarcis_rule_6_2_1_2 }}
bozkarcis_rule_6_2_1_3: {{ bozkarcis_rule_6_2_1_3 }}
bozkarcis_rule_6_2_1_4: {{ bozkarcis_rule_6_2_1_4 }}
## 6.2.2.x Configure journald
bozkarcis_rule_6_2_2_1_1: {{ bozkarcis_rule_6_2_2_1_1 }}
bozkarcis_rule_6_2_2_1_2: {{ bozkarcis_rule_6_2_2_1_2 }}
bozkarcis_rule_6_2_2_1_3: {{ bozkarcis_rule_6_2_2_1_3 }}
bozkarcis_rule_6_2_2_1_4: {{ bozkarcis_rule_6_2_2_1_4 }}
bozkarcis_rule_6_2_2_2: {{ bozkarcis_rule_6_2_2_2 }}
bozkarcis_rule_6_2_2_3: {{ bozkarcis_rule_6_2_2_3 }}
bozkarcis_rule_6_2_2_4: {{ bozkarcis_rule_6_2_2_4 }}
## 6.2.3 Configure rsyslog
bozkarcis_rule_6_2_3_1: {{ bozkarcis_rule_6_2_3_1 }}
bozkarcis_rule_6_2_3_2: {{ bozkarcis_rule_6_2_3_2 }}
bozkarcis_rule_6_2_3_3: {{ bozkarcis_rule_6_2_3_3 }}
bozkarcis_rule_6_2_3_4: {{ bozkarcis_rule_6_2_3_4 }}
bozkarcis_rule_6_2_3_5: {{ bozkarcis_rule_6_2_3_5 }}
bozkarcis_rule_6_2_3_6: {{ bozkarcis_rule_6_2_3_6 }}
bozkarcis_rule_6_2_3_7: {{ bozkarcis_rule_6_2_3_7 }}
bozkarcis_rule_6_2_3_8: {{ bozkarcis_rule_6_2_3_8 }}
## 6.2.4 Configure Logfiles
bozkarcis_rule_6_2_4_1: {{ bozkarcis_rule_6_2_4_1 }}
## 6.3 Configure Auditing
## 6.3.1 Configure auditd Service
bozkarcis_rule_6_3_1_1: {{ bozkarcis_rule_6_3_1_1 }}
bozkarcis_rule_6_3_1_2: {{ bozkarcis_rule_6_3_1_2 }}
bozkarcis_rule_6_3_1_3: {{ bozkarcis_rule_6_3_1_3 }}
bozkarcis_rule_6_3_1_4: {{ bozkarcis_rule_6_3_1_4 }}
## 6.3.2 Configure Data Retention
bozkarcis_rule_6_3_2_1: {{ bozkarcis_rule_6_3_2_1 }}
bozkarcis_rule_6_3_2_2: {{ bozkarcis_rule_6_3_2_2 }}
bozkarcis_rule_6_3_2_3: {{ bozkarcis_rule_6_3_2_3 }}
bozkarcis_rule_6_3_2_4: {{ bozkarcis_rule_6_3_2_4 }}
## 6.3.3 Configure auditd Rules
bozkarcis_rule_6_3_3_1: {{ bozkarcis_rule_6_3_3_1 }}
bozkarcis_rule_6_3_3_2: {{ bozkarcis_rule_6_3_3_2 }}
bozkarcis_rule_6_3_3_3: {{ bozkarcis_rule_6_3_3_3 }}
bozkarcis_rule_6_3_3_4: {{ bozkarcis_rule_6_3_3_4 }}
bozkarcis_rule_6_3_3_5: {{ bozkarcis_rule_6_3_3_5 }}
bozkarcis_rule_6_3_3_6: {{ bozkarcis_rule_6_3_3_6 }}
bozkarcis_rule_6_3_3_7: {{ bozkarcis_rule_6_3_3_7 }}
bozkarcis_rule_6_3_3_8: {{ bozkarcis_rule_6_3_3_8 }}
bozkarcis_rule_6_3_3_9: {{ bozkarcis_rule_6_3_3_9 }}
bozkarcis_rule_6_3_3_10: {{ bozkarcis_rule_6_3_3_10 }}
bozkarcis_rule_6_3_3_11: {{ bozkarcis_rule_6_3_3_11 }}
bozkarcis_rule_6_3_3_12: {{ bozkarcis_rule_6_3_3_12 }}
bozkarcis_rule_6_3_3_13: {{ bozkarcis_rule_6_3_3_13 }}
bozkarcis_rule_6_3_3_14: {{ bozkarcis_rule_6_3_3_14 }}
bozkarcis_rule_6_3_3_15: {{ bozkarcis_rule_6_3_3_15 }}
bozkarcis_rule_6_3_3_16: {{ bozkarcis_rule_6_3_3_16 }}
bozkarcis_rule_6_3_3_17: {{ bozkarcis_rule_6_3_3_17 }}
bozkarcis_rule_6_3_3_18: {{ bozkarcis_rule_6_3_3_18 }}
bozkarcis_rule_6_3_3_19: {{ bozkarcis_rule_6_3_3_19 }}
bozkarcis_rule_6_3_3_20: {{ bozkarcis_rule_6_3_3_20 }}
bozkarcis_rule_6_3_3_21: {{ bozkarcis_rule_6_3_3_21 }}
bozkarcis_rule_6_3_3_22: {{ bozkarcis_rule_6_3_3_22 }}
bozkarcis_rule_6_3_3_23: {{ bozkarcis_rule_6_3_3_23 }}
bozkarcis_rule_6_3_3_24: {{ bozkarcis_rule_6_3_3_24 }}
bozkarcis_rule_6_3_3_25: {{ bozkarcis_rule_6_3_3_25 }}
bozkarcis_rule_6_3_3_26: {{ bozkarcis_rule_6_3_3_26 }}
bozkarcis_rule_6_3_3_27: {{ bozkarcis_rule_6_3_3_27 }}
bozkarcis_rule_6_3_3_28: {{ bozkarcis_rule_6_3_3_28 }}
bozkarcis_rule_6_3_3_29: {{ bozkarcis_rule_6_3_3_29 }}
bozkarcis_rule_6_3_3_30: {{ bozkarcis_rule_6_3_3_30 }}
bozkarcis_rule_6_3_3_31: {{ bozkarcis_rule_6_3_3_31 }}
bozkarcis_rule_6_3_3_32: {{ bozkarcis_rule_6_3_3_32 }}
bozkarcis_rule_6_3_3_33: {{ bozkarcis_rule_6_3_3_33 }}
bozkarcis_rule_6_3_3_34: {{ bozkarcis_rule_6_3_3_34 }}
bozkarcis_rule_6_3_3_35: {{ bozkarcis_rule_6_3_3_35 }}
bozkarcis_rule_6_3_3_36: {{ bozkarcis_rule_6_3_3_36 }}
bozkarcis_rule_6_3_3_37: {{ bozkarcis_rule_6_3_3_37 }}
## 6.3.4 Configure auditd File Access
bozkarcis_rule_6_3_4_1: {{ bozkarcis_rule_6_3_4_1 }}
bozkarcis_rule_6_3_4_2: {{ bozkarcis_rule_6_3_4_2 }}
bozkarcis_rule_6_3_4_3: {{ bozkarcis_rule_6_3_4_3 }}
bozkarcis_rule_6_3_4_4: {{ bozkarcis_rule_6_3_4_4 }}
bozkarcis_rule_6_3_4_5: {{ bozkarcis_rule_6_3_4_5 }}
bozkarcis_rule_6_3_4_6: {{ bozkarcis_rule_6_3_4_6 }}
bozkarcis_rule_6_3_4_7: {{ bozkarcis_rule_6_3_4_7 }}
bozkarcis_rule_6_3_4_8: {{ bozkarcis_rule_6_3_4_8 }}
bozkarcis_rule_6_3_4_9: {{ bozkarcis_rule_6_3_4_9 }}
bozkarcis_rule_6_3_4_10: {{ bozkarcis_rule_6_3_4_10 }}

# Section 7 System Maintenance
## 7.1 System File Permissions
bozkarcis_rule_7_1_1: {{ bozkarcis_rule_7_1_1 }}
bozkarcis_rule_7_1_2: {{ bozkarcis_rule_7_1_2 }}
bozkarcis_rule_7_1_3: {{ bozkarcis_rule_7_1_3 }}
bozkarcis_rule_7_1_4: {{ bozkarcis_rule_7_1_4 }}
bozkarcis_rule_7_1_5: {{ bozkarcis_rule_7_1_5 }}
bozkarcis_rule_7_1_6: {{ bozkarcis_rule_7_1_6 }}
bozkarcis_rule_7_1_7: {{ bozkarcis_rule_7_1_7 }}
bozkarcis_rule_7_1_8: {{ bozkarcis_rule_7_1_8 }}
bozkarcis_rule_7_1_9: {{ bozkarcis_rule_7_1_9 }}
bozkarcis_rule_7_1_10: {{ bozkarcis_rule_7_1_10 }}
bozkarcis_rule_7_1_11: {{ bozkarcis_rule_7_1_11 }}
bozkarcis_rule_7_1_12: {{ bozkarcis_rule_7_1_12 }}
bozkarcis_rule_7_1_13: {{ bozkarcis_rule_7_1_13 }}
## 7.2 Local User and Group Settings
bozkarcis_rule_7_2_1: {{ bozkarcis_rule_7_2_1 }}
bozkarcis_rule_7_2_2: {{ bozkarcis_rule_7_2_2 }}
bozkarcis_rule_7_2_3: {{ bozkarcis_rule_7_2_3 }}
bozkarcis_rule_7_2_4: {{ bozkarcis_rule_7_2_4 }}
bozkarcis_rule_7_2_5: {{ bozkarcis_rule_7_2_5 }}
bozkarcis_rule_7_2_6: {{ bozkarcis_rule_7_2_6 }}
bozkarcis_rule_7_2_7: {{ bozkarcis_rule_7_2_7 }}
bozkarcis_rule_7_2_8: {{ bozkarcis_rule_7_2_8 }}
bozkarcis_rule_7_2_9: {{ bozkarcis_rule_7_2_9 }}

## Section 1 vars

## Control 1.4.1
# This variable governs whether a bootloader password should be set in '/boot/grub2/user.cfg' file.
bozkarcis_set_boot_pass: {{ bozkarcis_set_boot_pass }}

## Controls:
# - 1.7.1 - Ensure message of the day is configured properly
# - 1.7.2 - Ensure local login warning banner is configured properly
# - 1.7.3 - Ensure remote login warning banner is configured properly
# This variable stores the content for the Warning Banner(relevant for issue, issue.net, motd).
bozkarcis_warning_banner: {{ bozkarcis_warning_banner }}
# End Banner

## Control 1.8.x - Settings for GDM
## 1.8 GDM graphical interface
desktop_required: {{ rhel10_desktop_required }}

## Section 2. Services

# Service configuration
# Options are
# Service
# - false - removes package
# - true - leaves package installed
# Mask
# - false - leaves service in current status
# - true - sets service name to masked
#
# Setting both Service and Mask to false will remove the package if exists
bozkarcis_autofs_services: {{ bozkarcis_autofs_services }}
bozkarcis_autofs_mask: {{ bozkarcis_autofs_mask }}
bozkarcis_avahi_server: {{ bozkarcis_avahi_server }}
bozkarcis_avahi_mask: {{ bozkarcis_avahi_mask }}
bozkarcis_cockpit_server: {{ bozkarcis_cockpit_server }}
bozkarcis_cockpit_mask: {{ bozkarcis_cockpit_mask }}
bozkarcis_dhcp_server: {{ bozkarcis_dhcp_server }}
bozkarcis_dhcp_mask: {{ bozkarcis_dhcp_mask }}
bozkarcis_dns_server: {{ bozkarcis_dns_server }}
bozkarcis_dns_mask: {{ bozkarcis_dns_mask }}
bozkarcis_dnsmasq_server: {{ bozkarcis_dnsmasq_server }}
bozkarcis_dnsmasq_mask: {{ bozkarcis_dnsmasq_mask }}
bozkarcis_ftp_server: {{ bozkarcis_ftp_server }}
bozkarcis_ftp_mask: {{ bozkarcis_ftp_mask }}
bozkarcis_message_server: {{ bozkarcis_message_server }}  # This is for messaging dovecot and cyrus-imap
bozkarcis_message_mask: {{ bozkarcis_message_mask }}
bozkarcis_nfs_server: {{ bozkarcis_nfs_server }}
bozkarcis_nfs_mask: {{ bozkarcis_nfs_mask }}
bozkarcis_print_server: {{ bozkarcis_print_server }}  # replaces cups
bozkarcis_print_mask: {{ bozkarcis_print_mask }}
bozkarcis_rpc_server: {{ bozkarcis_rpc_server }}
bozkarcis_rpc_mask: {{ bozkarcis_rpc_mask }}
bozkarcis_rsync_server: {{ bozkarcis_rsync_server }}
bozkarcis_rsync_mask: {{ bozkarcis_rsync_mask }}
bozkarcis_samba_server: {{ bozkarcis_samba_server }}
bozkarcis_samba_mask: {{ bozkarcis_samba_mask }}
bozkarcis_snmp_server: {{ bozkarcis_snmp_server }}
bozkarcis_snmp_mask: {{ bozkarcis_snmp_mask }}
bozkarcis_telnet_server: {{ bozkarcis_telnet_server }}
bozkarcis_telnet_mask: {{ bozkarcis_telnet_mask }}
bozkarcis_tftp_server: {{ bozkarcis_tftp_server }}
bozkarcis_tftp_mask: {{ bozkarcis_tftp_mask }}
bozkarcis_squid_server: {{ bozkarcis_squid_server }}
bozkarcis_squid_mask: {{ bozkarcis_squid_mask }}
bozkarcis_httpd_server: {{ bozkarcis_httpd_server }}
bozkarcis_httpd_mask: {{ bozkarcis_httpd_mask }}
bozkarcis_nginx_server: {{ bozkarcis_nginx_server }}
bozkarcis_nginx_mask: {{ bozkarcis_nginx_mask }}
bozkarcis_xinetd_server: {{ bozkarcis_xinetd_server }}
bozkarcis_xinetd_mask: {{ bozkarcis_xinetd_mask }}
bozkarcis_xwindow_server: {{ bozkarcis_xwindow_server }}  # will remove mask not an option
bozkarcis_is_mail_server: {{ bozkarcis_is_mail_server }}

## Section 2.3 Service clients

bozkarcis_ftp_client: {{ bozkarcis_ftp_client }}
bozkarcis_openldap_clients_required: {{ bozkarcis_openldap_clients_required }}
bozkarcis_telnet_required: {{ bozkarcis_telnet_required }}
bozkarcis_tftp_client: {{ bozkarcis_tftp_client }}

## Section 3 vars
## Sysctl
# Service configuration
# Options are
# Service
# - false - removes package
# - true - leaves package installed
# Mask
# - false - leaves service in current status
# - true - sets service name to masked
#
# Setting both Service and Mask to false will remove the package if exists
#
bozkarcis_bluetooth_service: {{ bozkarcis_bluetooth_service }}
bozkarcis_bluetooth_mask: {{ bozkarcis_bluetooth_mask }}

## 3.1 IPv6 requirement toggle
# This variable governs whether ipv6 is enabled or disabled.
bozkarcis_ipv6_required: {{ bozkarcis_ipv6_required }}

# 3.3 System network parameters (host only OR host and router)
# This variable governs whether specific CIS rules
# concerned with acceptance and routing of packages are skipped.
bozkarcis_is_router: {{ bozkarcis_is_router }}

## Section 4 vars

### Firewall Service to install and configure - Options are:
# firewalld anything else this will skip
bozkarcis_firewall: {{ bozkarcis_firewall }}

bozkarcis_active_firewall_zone: {{ bozkarcis_active_firewall_zone }}
## Section5 vars

## Section 5.1 - SSH

## Controls:
## - 5.1.7 - Ensure SSH access is limited
# This variable, if specified, configures a list of USER name patterns, separated by spaces, to allow SSH
# access for users whose user name matches one of the patterns. This is done
# by setting the value of `AllowUsers` option in `/etc/ssh/sshd_config` file.
# If an USER@HOST format will be used, the specified user will be allowed only on that particular host.
bozkarcis_sshd_allowusers: "{% if ansible_facts.user_id != 'root' %}{{ ansible_facts.user_id }}{% elif ansible_env.SUDO_USER is defined %}{{ ansible_env.SUDO_USER }}{% endif %}"

# (String) This variable, if specified, configures a list of GROUP name patterns, separated by spaces, to allow SSH access
# for users whose primary group or supplementary group list matches one of the patterns. This is done
# by setting the value of `AllowGroups` option in `/etc/ssh/sshd_config` file.
bozkarcis_sshd_allowgroups: {{ bozkarcis_sshd_allowgroups }}

# This variable, if specified, configures a list of USER name patterns, separated by spaces, to prevent SSH access
# for users whose user name matches one of the patterns. This is done
# by setting the value of `DenyUsers` option in `/etc/ssh/sshd_config` file.
# If an USER@HOST format will be used, the specified user will be restricted only on that particular host.
bozkarcis_sshd_denyusers: {{ bozkarcis_sshd_denyusers }}

# This variable, if specified, configures a list of GROUP name patterns, separated by spaces,
# to prevent SSH access for users whose primary group or supplementary group list matches one of the patterns. This is done
# by setting the value of `DenyGroups` option in `/etc/ssh/sshd_config` file.
bozkarcis_sshd_denygroups: {{ bozkarcis_sshd_denygroups }}

## Control 5.2.x - Ensure sudo log file exists
# By default, sudo logs through syslog(3). However, to specify a custom log file, the
# 'logfile' parameter will be used, setting it with current variable's value.
# This variable defines the path and file name of the sudo log file.
bozkarcis_sudolog_location: {{ bozkarcis_sudolog_location }}

## Control 5.2.4
# This will leave NOPASSWD intact for these users
bozkarcis_sudoers_exclude_nopasswd_list:
  - ec2-user
  - vagrant

## Control 5.2 - Ensure access to the 'su' command is restricted
# This variable determines the name of the group of users that are allowed to use the su command.
# CIS requires that such a group be CREATED(named according to site policy) and be kept EMPTY.
bozkarcis_sugroup: {{ bozkarcis_sugroup }}

# Control 5.3.3.2
# Choose if using minclass or credits options
# Options are: minclass or credits
# ensure only one is selected
bozkarcis_passwd_complex_option: {{ bozkarcis_passwd_complex_option }}

## Section 5.4.1.x: Shadow Password Suite Parameters
  ## Control 5.4.1.1 - Ensure password expiration is 365 days or less
  # This variable governs after how many days a password expires.
  # CIS requires a value of 365 or less.
bozkarcis_pass_max_days: {{ bozkarcis_pass_max_days }}
  ## Control 5.4.1.2 - Ensure minimum days between password changes are 7 or more
  # This variable specifies the minimum number of days allowed between changing
  # passwords. CIS requires a value of at least 1.
bozkarcis_pass_min_days: {{ bozkarcis_pass_min_days }}
  ## Control 5.4.1.3 - Ensure password expiration warning days is 7 or more
  # This variable governs, how many days before a password expires, the user will be warned.
  # CIS requires a value of at least 7.
bozkarcis_pass_warn_age: {{ bozkarcis_pass_warn_age }}
  ## Control 5.4.1.3 - This variable specifies the number of days of inactivity before an account will be locked.
  # CIS requires a value of 30 days or less.
bozkarcis_inactive_lock_days: {{ bozkarcis_inactive_lock_days }}

## PAM AND Authselect

# This variable configures the name of the custom profile to be created and selected.
# To be changed from default - cis_example_profile
bozkarcis_authselect_custom_profile_name: {{ bozkarcis_authselect_custom_profile_name }}

### Controls:
# - 5.6.2 - Ensure system accounts are secured
# - 6.2.10 - Ensure local interactive user home directories exist
# - 6.2.11 - Ensure local interactive users own their home directories
# UID settings for interactive users
# These are discovered via logins.def if set true
bozkarcis_discover_int_uid: {{ bozkarcis_discover_int_uid }}
# This variable sets the minimum number from which to search for UID
# Note that the value will be dynamically overwritten if variable `discover_int_uid` has
# been set to `true`.
min_int_uid: 1000
### Controls:
# - Ensure local interactive user home directories exist
# - Ensure local interactive users own their home directories
# This variable sets the maximum number at which the search stops for UID
# Note that the value will be dynamically overwritten if variable `discover_int_uid` has
# been set to `true`.
max_int_uid: 65533

## Section6 vars

## Control 6.1.2 AIDE schedule
# how aide scheduler runs can be one of cron or timer
bozkarcis_aide_scan: {{ bozkarcis_aide_scan }}

# These are the crontab settings for periodical checking of the filesystem's integrity using AIDE.
# The sub-settings of this variable provide the parameters required to configure
# the cron job on the target system.
# Cron is a time-based job scheduling program in Unix OS, which allows tasks to be scheduled
# and executed automatically at a certain point in time.

# This variable represents the user account under which the cron job for AIDE will run.
bozkarcis_aide_cron_user: {{ bozkarcis_aide_cron_user }}
# This variable represents the path to the AIDE crontab file.
bozkarcis_aide_cron_file: {{ bozkarcis_aide_cron_file }}
# This variable represents the actual command or script that the cron job
# will execute for running AIDE.
bozkarcis_aide_cron_job: '{{ bozkarcis_aide_cron_job }}'
# These variables define the schedule for the cron job
# This variable governs the minute of the time of day when the AIDE cronjob is run.
# It must be in the range `0-59`.
bozkarcis_aide_cron_minute: '{{ bozkarcis_aide_cron_minute }}'
# This variable governs the hour of the time of day when the AIDE cronjob is run.
# It must be in the range `0-23`.
bozkarcis_aide_cron_hour: '{{ bozkarcis_aide_cron_hour }}'
# This variable governs the day of the month when the AIDE cronjob is run.
# `*` signifies that the job is run on all days; furthermore, specific days
# can be given in the range `1-31`; several days can be concatenated with a comma.
# The specified day(s) must be in the range `1-31`.
bozkarcis_aide_cron_day: '{{ bozkarcis_aide_cron_day }}'
# This variable governs months when the AIDE cronjob is run.
# `*` signifies that the job is run in every month; furthermore, specific months
# can be given in the range `1-12`; several months can be concatenated with commas.
# The specified month(s) must be in the range `1-12`.
bozkarcis_aide_cron_month: '{{ bozkarcis_aide_cron_month }}'
# This variable governs the weekdays, when the AIDE cronjob is run.
# `*` signifies that the job is run on all weekdays; furthermore, specific weekdays
# can be given in the range `0-7` (both `0` and `7` represent Sunday); several weekdays
# can be concatenated with commas.
bozkarcis_aide_cron_weekday: '{{ bozkarcis_aide_cron_weekday }}'
#
## Preferred method of logging
## Whether rsyslog or journald preferred method for local logging
## Control 6.2.1 | Configure journald
## Control 6.2.2 | Configure rsyslog
# This variable governs which logging service should be used, choosing between 'rsyslog'
# or 'journald'(only one is implemented) will trigger the execution of the associated subsection, as the-best
# practices are written wholly independent of each other.
# Should your organization make use of both rsyslog and journald, take care how the recommendations may or may not apply to you.
bozkarcis_syslog: {{ bozkarcis_syslog }}

## Control 6.2.1.3 - Ensure journald log rotation is configured per site policy
# Current variable configures the max amount of disk space the logs will use(thus, journal files
# will not grow without bounds)
# The variables below related to journald, please set these to your site specific values
# These variable specifies how much disk space the journal may use up at most
# Specify values in bytes or use K, M, G, T, P, E as units for the specified sizes.
# See https://www.freedesktop.org/software/systemd/man/journald.conf.html for more information.
bozkarcis_journald_systemmaxuse: 10M
## Control 6.2.1.3 - Ensure journald log rotation is configured per site policy
# Current variable configures the amount of disk space to keep free for other uses.
bozkarcis_journald_systemkeepfree: 100G
## Control 6.2.1.3 - Ensure journald log rotation is configured per site policy
# This variable configures how much disk space the journal may use up at most.
# Similar with 'bozkarcis_journald_systemmaxuse', but related to runtime space.
bozkarcis_journald_runtimemaxuse: 10M
## Control 6.2.1.3 - Ensure journald log rotation is configured per site policy
# This variable configures the actual amount of disk space to keep free
# Similar with 'bozkarcis_journald_systemkeepfree', but related to runtime space.
bozkarcis_journald_runtimekeepfree: 100G
## Control 6.2.1.3 - Ensure journald log rotation is configured per site policy
# Current variable governs the settings for log retention(how long the log files will be kept).
# Thus, it specifies the maximum time to store entries in a single journal
# file before rotating to the next one. Set to 0 to turn off this feature.
# The given value is interpreted as seconds, unless suffixed with the units
# `year`, `month`, `week`, `day`, `h` or `m` to override the default time unit of seconds.
# Values are Xm, Xh, Xday, Xweek, Xmonth, Xyear, for example 2week is two weeks
# ATTENTION: Uncomment the keyword below when values are set!
bozkarcis_journald_maxfilesec: 1month

## Control 6.2.2.x & 6.2.3.x - Ensure rsyslog is not configured to receive logs from a remote client
# This variable expresses whether the system is used as a log server or not. If set to:
#  - 'false', current system will act as a log CLIENT, thus it should NOT receive data from other hosts.
#  - 'true', current system will act as a log SERVER, enabling centralized log management(by protecting log integrity
# from local attacks on remote clients)
bozkarcis_system_is_log_server: {{ bozkarcis_system_is_log_server }}

## Control 6.2.3.6 - Ensure rsyslog is configured to send logs to a remote log host
# This variable governs if 'rsyslog' service should be automatically configured to forward messages to a
# remote log server. If set to 'false', the configuration of the 'omfwd' plugin, used to provide forwarding
# over UDP or TCP, will not be performed.
bozkarcis_remote_log_server: {{ bozkarcis_remote_log_server }}

## Control 6.2.3.6 - Ensure rsyslog is configured to send logs to a remote log host
# This variable configures the value of the 'target' parameter to be configured when enabling
# forwarding syslog messages to a remote log server, thus configuring the actual FQDN/IP address of the
# destination server. For this value to be reflected in the configuration, the variable which enables the
# automatic configuration of rsyslog forwarding must be enabled('bozkarcis_remote_log_server: {{ bozkarcis_remote_log_server }}').
bozkarcis_remote_log_host: {{ bozkarcis_remote_log_host }}

## Control 6.2.3.6 - Ensure rsyslog is configured to send logs to a remote log host
# This variable configures the value of the 'port' parameter to be configured when enabling
# forwarding syslog messages to a remote log server. The default value for this destination port is 514.
# For this value to be reflected in the configuration, the variable which enables the
# automatic configuration of rsyslog forwarding must be enabled('bozkarcis_remote_log_server: {{ bozkarcis_remote_log_server }}').
bozkarcis_remote_log_port: {{ bozkarcis_remote_log_port }}

## Control 6.2.3.6 - Ensure rsyslog is configured to send logs to a remote log host
# This variable configures the value("TCP"/"UDP") of the 'protocol' parameter to be configured when enabling
# forwarding syslog messages to a remote log server. The default value for the 'omfwd' plug-in is UDP.
# For this value to be reflected in the configuration, the variable which enables the
# automatic configuration of rsyslog forwarding must be enabled('bozkarcis_remote_log_server: {{ bozkarcis_remote_log_server }}').
bozkarcis_remote_log_protocol: {{ bozkarcis_remote_log_protocol }}

## Control 6.2.3.6 - Ensure rsyslog is configured to send logs to a remote log host
# This variable governs how often an action is retried(value is passed to 'action.resumeRetryCount' parameter) before
# it is considered to have failed(that roughly translates to discarded messages). The default value is 0, but
# when set to "-1"(eternal), this setting would prevent rsyslog from dropping messages when retrying to connect
# if server is not responding. For this value to be reflected in the configuration, the variable which enables the
# automatic configuration of rsyslog forwarding must be enabled('bozkarcis_remote_log_server: {{ bozkarcis_remote_log_server }}').
bozkarcis_remote_log_retrycount: {{ bozkarcis_remote_log_retrycount }}

## Control 6.2.3.6 - Ensure rsyslog is configured to send logs to a remote log host
# This variable configures the maximum number of messages that can be hold(value is passed to 'queue.size' parameter).
# For this value to be reflected in the configuration, the variable which enables the automatic configuration
# of rsyslog forwarding must be enabled('bozkarcis_remote_log_server: {{ bozkarcis_remote_log_server }}').
bozkarcis_remote_log_queuesize: {{ bozkarcis_remote_log_queuesize }}

## Control 6.2.2.1.2 - Ensure systemd-journal-remote is configured
# 'bozkarcis_journal_upload_url' is the ip address to upload the journal entries to
#  URL value may specify either just the hostname or both the protocol and hostname. 'https' is the default. The port
#  number may be specified after a colon (":"), otherwise 19532 will be used by default.
bozkarcis_journal_upload_url: {{ bozkarcis_journal_upload_url }}

## Control 6.2.2.1.2 - Ensure systemd-journal-remote is configured
# This variable specifies the path to the private key file used by the remote journal
# server to authenticate itself to the client. This key is used alongside the server's
# public certificate to establish secure communication.
bozkarcis_journal_upload_serverkeyfile: {{ bozkarcis_journal_upload_serverkeyfile }}

## Control 6.2.2.1.2 - Ensure systemd-journal-remote is configured
# This variable specifies the path to the public certificate file of the remote journal
# server. This certificate is used to verify the authenticity of the remote server.
bozkarcis_journal_servercertificatefile: {{ bozkarcis_journal_servercertificatefile }}

## Control 6.2.2.1.2 - Ensure systemd-journal-remote is configured
# This variable specifies the path to a file containing one or more public certificates
# of certificate authorities (CAs) that the client trusts. These trusted certificates are used
# to validate the authenticity of the remote server's certificate.
bozkarcis_journal_trustedcertificatefile: {{ bozkarcis_journal_trustedcertificatefile }}

# Section 7 Vars

# 7.1.12 Ensure no files or directories without an owner and a group exist
bozkarcis_exclude_unowned_search_path: \( ! -path "/run/user/*" -a ! -path "/proc/*" -a ! -path "*/containerd/*" -a ! -path "*/kubelet/pods/*" -a ! -path "*/kubelet/plugins/*" -a ! -path "/sys/fs/cgroup/memory/*" -a ! -path "/var/*/private/*" \)
