{{ file_managed_by_ansible }}

[Upload]
URL={{ bozkarcis_journal_upload_url }}
ServerKeyFile={{ bozkarcis_journal_upload_serverkeyfile }}
ServerCertificateFile={{ bozkarcis_journal_servercertificatefile }}
TrustedCertificateFile={{ bozkarcis_journal_trustedcertificatefile }}
